.footer {
    background-color: var(--color-primary);
    position: fixed;
    bottom: 0;
    width: 100%;
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        .icon-wrapper {
            display: flex;
            justify-content: center;
            min-width: 60rem;
        }
    }
}