.footer {
    background-color: var(--color-primary);
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    .container {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        .icon-wrapper {
            display: flex;
            justify-content: center;
            min-width: 60rem;
        }
    }
}