:root{
    --color-primary: #139292;
    --color-text-primary: white;
    --color-text-secondary: black;
    --color-border-shadow: rgb(230, 230, 230);
    --color-dark-filter: rgba(0, 0, 0, .3);
    --color-light-filter: rgba(250, 250, 250, .7);
    --color-light-black: rgb(30, 30, 30);
}
